.container-main{
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px rgba(63,63,68,.1);
}

.fluid-cont{
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
}

.panel-content {
    padding: 30px 15px;
    min-height: calc(100vh - 136px);
    background: #f5f5f5;
    position: relative;
}

.container-main table thead th{
    color : #9a9a9a;
    font-weight: lighter;
}

.container-main table thead td{
    color : black;
    font-weight: 400;
}

.navbar-main{
    background: linear-gradient(to bottom,#fb404b 0,rgba(187,5,2,.7) 100%);
    color: #FFF;
}

.header-main {
    padding: 15px 15px 0;
    color: #333;
    font-weight: lighter;
    font-size: 14px;
}

.title{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #333;
    font-weight: 400;
}